Source: thelastripper
Section: sound
Priority: optional
Maintainer: Jonas Finnemann Jensen). <Jopsen@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, autoconf, automake, pkg-config, cli-common-dev (>= 0.4.0), mono-devel, libgnome2.24-cil, libgtk2.0-cil, libmono-cairo2.0-cil, libglib2.0-cil, libtaglib2.0-cil
Standards-Version: 3.7.2

Package: thelastripper
Architecture: all
Depends: gnome-icon-theme, xdg-utils, ${shlibs:Depends}, ${cli:Depends}, ${misc:Depends}
Recommends: mp3gain
Description: An audio stream ripper for Last.fm.
 TheLastRipper can save Last.fm streams to mp3's, while downloading 
 album cover, appending ID3v2 tags and organizing you music after 
 Artist/Album/Track. TheLastRipper will also help you generate playlists 
 from the data available from you Last.fm account. 
 TheLastRipper requires a Last.fm login, you can regsiter for free 
  at http://last.fm/
 Please note that recordings of radio streams, may NOT be legal, 
 we recommend that you investegate you local laws, before using 
 TheLastRipper.
