Source: thelastripper
Section: sound
Priority: optional
Maintainer: Jop... (Jonas F. Jensen). <Jopsen@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, autotools-dev, pkg-config, cli-common-dev (>= 0.4.4), cli-common, mono-gmcs (>= 1.2.3) | c-sharp-2.0-compiler, libgnome2.0-cil (>= 2.16.0), libgtk2.0-cil (>= 2.10.0), libglade2.0-cil (>= 2.10.0), libmono-cairo2.0-cil (>=1.2.3)
Standards-Version: 3.7.2

Package: thelastripper
Architecture: all
Depends: gnome-icon-theme, xdg-utils, ${shlibs:Depends}, ${cli:Depends}, ${misc:Depends}
Description: An audio stream ripper for Last.fm.
 TheLastRipper can save Last.fm streams to mp3's, while downloading 
 album cover, appending ID3v2 tags and organizing you music after 
 Artist/Album/Track. TheLastRipper will also help you generate playlists 
 from the data available from you Last.fm account. 
 TheLastRipper requires a Last.fm login, you can regsiter for free 
  at http://last.fm/
 Please note that recordings of radio streams, may NOT be legal, 
 we recommend that you investegate you local laws, before using 
 TheLastRipper.
